<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>


    <section>
        <div class="container" id="app">
            <div v-for="t in test" class="my-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{t.question}}</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" v-model="t.answer" v-on:change="Save()"> {{t.answer}}
                    </div>
                </div>
            </div>
        </div>
    </section>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                test: null,
            },
            methods: {
                Save: function() {
                    localStorage.setItem("save", this.test);
                },
                loadSave: function() {
                    var localData = localStorage.getItem("save");
                    if (localData != null) {
                        console.log(localData)
                        this.test = localData;
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            created() {
                if (this.loadSave()) {
                    console.log(this.test)
                    console.log("Save is load")
                } else {
                    this.test = [{
                        id: 1,
                        question: "Сколько лет создателю?",
                        answer: "",
                    }, {
                        id: 3,
                        question: "Его любимый язык программирования?",
                        answer: "",
                    }]
                    console.log("No save")
                }
            }
        })
    </script>
</body>

</html>